<section class="hero-unit">
  <h1 style="text-align:center;">Your productivity tracker for JIRA!</h1>

  <br/>

  <div class='action-buttons'>
    <%= link_to "Projects", projects_path, class: 'btn btn-primary btn-large' %>
    <%= link_to "Tickets", tickets_path, class: 'btn btn-success btn-large' %>
    <%= link_to "Developers", developers_path, class: 'btn btn-success btn-large' %>

  </div>
</section>